/**********
GENERAL STYLES
**********/

* {
    box-sizing: border-box;
}

.container {
    width: 980px;
    margin: 0 auto;
    text-align: center;
    background: white;
}

/**********
GALLERY AND SEARCH
**********/

input[type="search"] {
    margin-top: 30px;
    width: 460px;
    height: 36px;
    font-size: 16px;
    padding: 0 10px;
}

.gallery {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery span {
    display: none;
}

.gallery img {
    width: 200px;
    height: 200px;
}

.gallery iframe {
    width: 200px;
    height: 200px;
}

a {
    margin-top: 30px;
    margin-bottom: 30px;
}

input:focus {
    outline: none;
}

/**********
LIGHTBOX
**********/

.shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,0.9);
    display: none;
}

.photoView {
    height: 600px;
}

.shadeImg {
    margin-top: 100px;
    height: 375px;
    max-width: 600px;
}

.shadeVid {
    margin-top: 100px;
    margin-bottom: 15px;
}

.shade p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    margin: 0 auto;
    width: 600px;
    height: 54px;
}

.backButton {
    position: relative;
    display: inline-block;
    float: left;
    height: 50px;
    width: 50px;
    bottom: 250px;
    left: 50px;
    z-index: 2;
}

.nextButton {
    position: relative;
    display: inline-block;
    float: right;
    height: 50px;
    width: 50px;
    bottom: 250px;
    right: 50px;
    z-index: 2;
}

.closeButton {
    position: relative;
    display: inline-block;
    float: right;
    height: 50px;
    width: 50px;
    bottom: 500px;
    left: 20px;
}